html{
font-size: 10px;
  /* コピー禁止！！ */
  user-select: none;
  -webkit-user-select: none;
  /* ズーム禁止 */
  touch-action: pan-x pan-y;
  -webkit-touch-action: pan-x pan-y;
}

body{
  background-color: #fff;
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  position: relative;
}

.page-content{
  background-color: #fff;
  box-shadow: 0 0 3px #333;
  color: var(--txt);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: var(--mw);
  min-height: 100dvh;
  position: relative;
  z-index: 0;
}

main{
  font-size: 1.3rem;
  padding: 32px;

  h1{
    color: var(--primary);
    font-weight: 700;
    text-align: center;

    span{
      display: block;
    }
    .en{
      font-size: 4.0rem;
    }
    .ja{
      font-size: 2.0rem;
    }
  }
}

/* time table */
.t-wrap{
  height: 100%;
  position: relative;

  .t-head{
    background-color: #fff;
    padding: 32px 0 16px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .list-day{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
      .list-item{
        border-right: 1px solid #ccc;
        padding: 8px;
        text-align: center;

        &:last-child{
          border-right-color: transparent;
        }
      }
    }
    .list-sort{
      display: grid;
      grid-template-columns: repeat(5, 150px);
      gap: 0 16px;
      overflow: scroll auto;
      padding-top: 16px;

      &::-webkit-scrollbar{
        display: none;
      }

      .list-item{
        button{
          border: 1px solid var(--secondary);
          border-radius: 5px;
          color: var(--secondary);
          display: block;
          height: 100%;
          width: 100%;
          padding: 8px;
          text-align: center;
        }
      }
    }
  }
  .t-body{
    display: grid;
    grid-template-columns: repeat(3, calc(var(--i) * 0.9));
    gap: calc(var(--i) * 0.01);
    overflow: scroll auto;
    padding: 0 calc((var(--i) * 0.05));
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 100%;

    .t-content{
      scroll-snap-align: center;

      #day-02{
        padding-top: -1000px;
      }
      .t-content-head{
        background-color: var(--secondary);
        color: #fff;
        padding: 8px;

        .t-content-ttl{
          font-size: 1.6rem;
          font-weight: 700;
          text-align: center;
        }
      }
      .t-column-wrap{
        display: grid;
        grid-template-columns: 50px 1fr;
        padding: 8px 0;

        > [class*="t-column"]{
          display: grid;
          grid-template-rows: repeat(36, 75px);
        }
        .t-column-left{
          p{
            grid-row: span 2;
          }
        }
        .t-column-right{
          .t-item{
            grid-area: var(--start)/1/calc(var(--start) + var(--duration))/2;
            a{
              display: block;
              height: 100%;
              width: 100%;
              background-color: var(--tertiary);
              border-radius: 5px;
              display: grid;
              grid-template-columns: 65px 1fr;
              gap: 0 16px;
              padding: 5px 8px;
            }
          }
        }
      }
    }
  }
}
